name: Build on multiple platforms

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    permissions:
      id-token: write
      attestations: write

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]

    steps:
      - uses: actions/checkout@v4

      - uses: jurplel/install-qt-action@v4
        with:
          version: 6.4.3
          cache: true

      - uses: actions/setup-go@v5
        with:
          go-version: 1.21.9

      - name: Install Linux dependencies
        if: startsWith( matrix.os, 'ubuntu' )
        run: |
          sudo apt-get install -y \
            ninja-build \
            libglvnd-dev \
            libsecret-1-dev \
            pkg-config

      - name: Install Windows dependencies
        if: startsWith( matrix.os, 'windows' )
        run: choco install -y zip ninja

      - name: Install macOS dependencies
        if: startsWith( matrix.os, 'macos' )
        run: brew install zip ninja

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Build
        id: build
        env:
          VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
          MSYSTEM: ""
        run: make build

      - name: Report build failure
        if: failure()
        shell: bash
        run: |
          if [ -f './extern/vcpkg/installed/vcpkg/issue_body.md' ]; then
            cat './extern/vcpkg/installed/vcpkg/issue_body.md' >> $GITHUB_STEP_SUMMARY
          else
            echo "::error:: Build failed without any error message"
          fi

      - uses: actions/attest-build-provenance@v2
        with:
          subject-path: "bridge*.tgz"

      - uses: actions/upload-artifact@v4
        with:
          path: "bridge*.tgz"
          name: build-${{ matrix.os }}
